<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/style.css">
  <title>Speed Reading Online</title>
</head>
<body>
  <div id="app">
    <div v-if="!isRun">
      <label for="text">Put text there:</label>
      <textarea v-model="text" id="text" cols="40" rows="16" spellcheck="false"></textarea>
      <label for="speed">Select speed</label>
      <input type="number" id="speed" v-model="speed"> words in minute
      <button class="button" type="button" @click="start">Run</button>
    </div>
    <div class="show-word" v-else>
      <button v-if="!isEnd" :style="`background-image: url(${ backgroundBtnPause })`" class="pause" @click="pauseHandle"></button>
      <span v-if="!isEnd">
        {{ currentWord }}
      </span>
      <div v-if="isEnd" class="btn-finish-wrap">
        <button class="btn-finish" @click="reset">New text</button>
        <button class="btn-finish" @click="start">Restart</button>
      </div>
      <div class="progress">
        <div class="progress__bar" :style="`width: ${ progress }%`"></div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="js/script.js"></script>
</body>
</html>